body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
#taskForm {
  display: flex;
  flex-direction: column;
}
#taskForm input,
#taskForm textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#taskForm button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#taskForm button:hover {
  background-color: #218838;
}
.priority {
  margin-bottom: 10px;
}
.priority label {
  margin-right: 10px;
}
#taskList {
  list-style-type: none;
  padding: 0;
}
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.info {
  max-width: 500px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.task-item.completed {
  background-color: #d4edda;
}
.task-item .actions {
  display: flex;
  gap: 10px;
  align-items: center;
}
.task-item .actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  width: 90px;
  height: 50px;
  cursor: pointer;
}
.task-item .actions button.complete {
  background-color: #28a745;
  color: #fff;
}
.task-item .actions button.delete {
  background-color: #dc3545;
  color: #fff;
}
.filters {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}
.filters button {
  padding: 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.filters button:hover {
  background-color: #0056b3;
}
